/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;

}
/* logo and image */
#logo{
    margin: 10px 34px;

}
#logo img{
    height: 59px;
    margin:0px  45px;
    
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    display: flex;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a:hover{
    color: black;
    background-color: rgb(255, 60, 60);

}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 400px;
    align-items: center;
}
#home::before{
    content: " ";
    background: url(/background4.webp);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#home h1{
    color: rgb(255, 60, 60);
    text-align: center;
    font-size: 1.5rem;
}
/* utility classes */
.h-primery{
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    text-align: center;
    font-size: 2.0rem;
    padding: 12px;
}
.btn{
    padding:6px 20px ;
    border: 2px solid red;
    background-color: brown;
    color:white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
/* Services Section */
#services{ 
    margin: 34px;
    display: flex;
}
#services .box {
    border-radius: 28px;
    margin: 6px;
    padding: 20px;
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: auto;
    width: auto;
}
#services .box img{
    height: 100px;
}
#services
#services
/* Clint Sectioon */
#client-section::before{
    content: " ";
    background: url(/background3.jpeg);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;   
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items{
padding: 34px;
}
.client-items img{
    height: 50px;
    width: 5p;
    margin: 3px 9px;
    padding: 9px 3px;
}
#footer h1{
    text-align:center;
    margin-bottom: 50px;
}
#footer p{
    margin: 50px;
}
.item {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes .item {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  